{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}SisVentas - Clientes{% endblock %}
{% block bodytitle %}Cliente{% endblock %}

{% block body %}
    {{ form(form) }}

    <a href="{{ path('app_cliente') }}" class="btn btn-secondary">Volver</a>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}
