
  
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
   -webkit-appearance: inner-spin-button;
   opacity: 1;
   margin-left: 10px;
}

.choices__inner{
  border-radius: 6px !important;
  background-color: #fff !important;
  min-height: 38px !important;
  height: 38px !important;
  padding: 3.75px 5.5px !important;
}

tbody.detalles td{
    vertical-align: middle;
}

tbody.detalles div.mb-3{
    margin:0 !important;
}
@media (min-width:480px) {
   .cuerpo {
     padding: 20px;
   }
}
/*
html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }
*/