{% extends 'base.html.twig' %}

{% block title %}SisVentas - Ingreso al Sistema{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <div class="col col-md-5 mx-auto">
        <div class="mb-3">
            <label for="username" class="form-label required">Nombre de Usuario:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}"class="form-control" required />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label required">Clave:</label>
            <input type="password" id="password" name="_password"class="form-control" required />
        </div>
        <input type="hidden" name="_target_path" value="/"/>
        <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
        </div>
    </form>
{% endblock %}
