{% extends 'base.html.twig' %}

{% block title %}SisVentas - Acerca de...
{% endblock %}
{% block bodytitle %}Acerca de SisVentas
{% endblock %}

{% block body %}
<div class="text-center mt-3">
<h4>Universidad Siglo 21</h4>
<h5>Licenciatura en Informática</h5>
<p dir="ltr">INF411 - Seminario de Actualización en Sistemas Colaborativos</p>
<p dir="ltr">Profesor: CONDE, SERGIO DANIEL</p>
<h5>Trabajo Práctico 2</h5>
<p dir="ltr">Integrantes: </p>
<p dir="ltr">Romero, Iván Yamil - VINF08663<br />
  Di Pierro, Sebastián Miguel - VINF07402<br />
  Picca, Nahuel Ignacio - VINF07694<br />
  Moll Rojas, Irma Esther - VINF05877<br />
  Aguirre, Néstor Adrián - VINF07406</p>
  </div>
{% endblock %}
